html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(45deg, #49a09d, #782ea9);
  font-family: sans-serif;
  font-weight: 100;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  text-align: center;
}

th {
  text-align: center;
}

thead th {
  background-color: #55608f;
  height: 10 px;
  width: 10 px;
}

tbody tr:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tbody .gold{
  background-color: rgba(211, 188, 8, 0.4);
}

tbody .silver{
    background-color: rgba(49, 52, 56, 0.4);
}

tbody .bronze{
    background-color: rgba(197, 107, 17, 0.4);
}


tbody td {
  position: relative;
}

tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
  background-color: rgba(255, 255, 255, 0.2);
  z-index: -1;
}

a:link {
  color: rgb(38, 25, 219);
  background-color: transparent;
  text-decoration: none;
}



a:link {
  color: aliceblue
}

a:visited {
  color: aliceblue;
  text-decoration: none;
  
}

a:hover {
  color: blanchedalmond;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
